<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tirage_Champions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Tirage_Champions.Properties.Settings>
            <setting name="ChampionsNames" serializeAs="String">
                <value>Aatrox,Akali,Camille,Cho'Gath,Darius,Dr. Mundo,Fiora,Gangplank,Garen,Gnar,Gragas,Gwen,Heimerdinger,Illaoi,Irelia,Jax,Jayce,Kayle,Kennen,Kled,Lee Sin,Lucian,Maokai,Mordekaiser,Nasus,Nocturne,Ornn,Pantheon,Poppy,Quinn,Renekton,Rengar,Riven,Rumble,Ryze,Sett,Shen,Singed,Sion,Sylas,Teemo,Trundle,Tryndamere,Urgot,Vayne,Viego,Vladimir,Volibear,Warwick,Wukong,Yasuo,Yone,Yorick,Zac</value>
            </setting>
            <setting name="ChampionsForHasard" serializeAs="String">
                <value />
            </setting>
            <setting name="ChampionsSelected" serializeAs="String">
                <value />
            </setting>
        </Tirage_Champions.Properties.Settings>
    </userSettings>
</configuration>